* {
  box-sizing: border-box;
}

body {
  
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  background-color: #014038;
}

/** HEADER **/
#header-nav {
  background-color: #F0C06D;
  border-radius: 0;
  border: 0;
}

#logo-img {
  width: 100px;
  margin: 10px 15px 10px 0;
  float: left;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Nursery name */
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #014038;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.navbar-brand a h1 {
  margin: 0; /* Убирает отступы */
  text-align: left; /* Заголовок слева */
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  color: #014038;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-size: 18px;
}

li {
  list-style: none; /* Убирает буллиты */
  padding: 0; /* Убирает возможные отступы внутри элементов списка */
  margin: 0; /* Убирает возможные внешние отступы */
}

.icon-container a .fas {
  font-size: 36px; /* Размер иконок */
  margin-left: 10px; /* Уменьшенный отступ между иконками */
  display: inline-block;
  text-decoration: none; /* Убирает подчеркивание у ссылок */
  
}

.icon-container a {
  text-decoration: none; /* Убирает подчеркивание у ссылок */
  margin-right: 0px; /* Добавляет отступы между иконками */
  display: inline-block; /* Устанавливает блочный элемент, но на одной строке */
   color: #00231c;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-container a:hover .fas {
  color: #96BAA0; /* Новый цвет иконки при наведении */
}

/* WHY SHOP HERE  SECTION*/
.why-shop-here {
  text-align: center; /* Выравнивание заголовка по центру */
  padding: 20px;
}

/* Использование flexbox для размещения контейнеров на одной строке */
.flex-container {
  display: flex;
  justify-content: space-between; /* Распределяет элементы по доступному пространству */
  gap: 20px; /* Расстояние между элементами */
}

/* Стили для каждого контейнера */
.perk {
  flex: 1; /* Устанавливает одинаковую ширину для всех контейнеров */
  padding: 20px;
  background-color: #96baa0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для ховера, чтобы добавить эффект при наведении */
.perk:hover {
  background-color: #f7f7f7;
}

/* SHOP NOW SECTION */
.shop-now-section {
  text-align: center;
  padding: 20px;
}

#birch-tile, #birdHouse-tile, #soil-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

#birch-tile:hover, #birdHouse-tile:hover, #soil-tile:hover {
  box-shadow: 0 1px 5px 1px #f7f7f7;
}

#birch-tile  {
  background-position: center;
}

#birdHouse-tile {
  background-position: center;
}

#soil-tile  {
  background-position: center;
}
#birch-tile span, #birdHouse-tile span, #soil-tile span  {
  position: absolute;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-weight: bold;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #F0C06D;
  color: #00231c;
  opacity: .8;
}

#birch-tile img, #birdHouse-tile img, #soil-tile img {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0; 
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

/* SHOPPING PROMOS */

.shop-here-section {
  text-align: center;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Распределяет элементы по доступному пространству */
  gap: 20px; /* Расстояние между элементами */
}

/* Стили для каждого контейнера */
.promo {
  flex: 1; /* Устанавливает одинаковую ширину для всех контейнеров */
  padding: 20px;
  background-color: #96baa0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для ховера, чтобы добавить эффект при наведении */
.promo:hover {
  background-color: #f7f7f7;
}

/* SHOP BY CATEGORIES*/
#tree-tile, #plants-tile, #supply-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

#tree-tile:hover, #plants-tile:hover, #supply-tile:hover {
  box-shadow: 0 1px 5px 1px #f7f7f7;
}

#tree-tile {
  background-position: center;
}

#plants-tile {
  background-position: center;
}

#supply-tile {
  background-position: center;
}

#tree-tile span, #plants-tile span, #supply-tile span {
  position: absolute;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-weight: bold;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #F0C06D;
  color: #00231c;
  opacity: .8;
  
}

#tree-tile img, #plants-tile img, #supply-tile img {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0; /* Убираем отступы у изображения */
  width: 100%; /* Заполняет всю ширину контейнера */
  height: 100%; /* Заполняет всю высоту контейнера */
  object-fit: cover; /* Сохраняет пропорции изображения */
}

/* CLIENTS HIGHLIGHTS SECTION */
h2 {
  font-size: 24px;
  color: #f7f7f7;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.review {
  list-style-type: none; /* Убирает буллеты */
  padding: 0;
  margin: 0;
  display: flex; /* Размещает элементы на одной строке */
}

.review li {
  margin-right: 20px; /* Добавляет промежуток между элементами */
}

.review li a {
  text-decoration: none; /* Убирает подчеркивание с ссылки */
  color: #00231c; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
}
/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #F0C06D;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

.fab.fa-facebook, .fab.fa-instagram, .fab.fa-twitter {
  font-size: 36px; /* Размер иконок */
  color: #014038; /* Основной цвет иконок */
  transition: color 0.3s; /* Добавляет плавный переход для цвета */
}


.fab.fa-facebook:hover, .fab.fa-instagram:hover, .fab.fa-twitter:hover {
  color: #96BAA0; /* Оставляем цвет таким же, как у основного состояния */
}

.menu-item a {
  color: #014038;
}

.menu-item a:hover {
  color: #F7F7F7; 
}

.section-container {
  margin: 20px auto; /* Центрирование и отступ сверху/снизу */
  padding: 20px; /* Внутренние отступы */
  padding-left: 30px; /* Отступ слева */
  max-width: 1500px; /* Максимальная ширина для ограничения контента */
  box-sizing: border-box; /* Учитывать отступы и границы в размере */
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Создает 3 колонки */
  gap: 20px; /* Расстояние между элементами */
  padding: 40px 20px; 
}

.gallery-item {
  background-color: #96baa0;
  border: 1px solid #96BAA0;
  color: #00231c;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-container {
  max-width: 1200px; /* Ограничение ширины галереи */
  margin: 0 auto; /* Центрирование галереи на странице */
}
/* VIEW CART BUTTON */
.view-cart {
  background-color: #F0C06D;
  color: #00231c;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

.view-cart:hover {
  background-color: #6C8F89;
  transform: scale(1.05);
}

/* ADD to CART BUTTON*/
.add-to-cart {
  background-color: #F0C06D;
  color: #00231c;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #F0C06D;
}

.shopping-cart {
  display: flex;
  justify-content: center; 
  align-items: center;    
  
}

/* ABOUT US*/
.about-section {
  background-color: #F7F7F7;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  font-size: 2em;
  color: #00231c;
  font-family: "Comfortaa", "Arial", sans-serif;
  margin-bottom: 15px;
}

.about-section p {
  font-size: 1.1em;
  color: #00231c;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}
/* Hours Section */
.hours-section {
  background-color: #F7F7F7;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hours-section h2 {
  font-size: 2em;
  color: #00231c;
  font-family: "Comfortaa", "Arial", sans-serif;
  margin-bottom: 15px;
}

.hours-section ul {
  list-style: none;
  padding-left: 0;
}

.hours-section li {
  font-size: 1.1em;
  color: #00231c;
  margin-bottom: 10px;
}

.hours-section strong {
  color: #00231c;
  font-weight: bold;
}

/* Contact Section */
.contact-section {
  background-color: #F7F7F7;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
  font-size: 2em;
  color: #00231c;
  font-family: "Comfortaa", "Arial", sans-serif;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1.1em;
  color: #00231c;
  margin-bottom: 8px;
  font-family: "Arial", sans-serif;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #014038;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

.form-actions {
  display: flex;
  justify-content: center; /* Центрируем кнопки по горизонтали */
  gap: 20px; /* Расстояние между кнопками */
  margin-top: 20px;
}

.form-actions button {
  background-color: #F0C06D;
  color: #014038;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Comfortaa", "Arial", sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}

.form-actions button:hover {
  background-color: #96BAA0;
  transform: scale(1.05);
}

.form-actions button[type="reset"] {
  background-color: #F0C06D;
}

.form-actions button[type="reset"]:hover {
  background-color: #96BAA0;
}
/* CUSTOMER PAGE UPCOMING EVENTS */
.events-section {
  max-width: 1200px; /* Ограничение ширины секции */
  margin: 0 auto; /* Центрирование секции на странице */
  padding: 40px 20px; /* Внешние отступы */
  background-color: #014038; /* Фон для секции */
  color: #00231c; /* Основной цвет текста */
  border-radius: 8px; /* Сглаживание углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для секции */
  
}

.events-section h2 {
  text-align: center;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #F7F7F7;
  margin-bottom: 20px;
}

.event {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #F7F7F7; /* Фон для отдельных событий */
  border: 1px solid #96baa0; /* Граница для выделения */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для объемности */
}

.event h3 {
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #014038;
  margin-bottom: 10px;
}

.event p {
  font-family: "Arial", sans-serif;
  color: #00231c;
  line-height: 1.5;
  margin-bottom: 5px;
}

.event p:last-child {
  margin-bottom: 0; /* Убирает лишний отступ у последнего абзаца */
}

.events-section article:hover {
  background-color: #96BAA0; /* Светло-зеленый фон при наведении */
  transform: translateY(-5px); /* Поднимает элемент при наведении */
  transition: all 0.3s ease; /* Плавный переход */
}

/* What Our Customers Are Saying */
.top-purchasers-section {
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.top-purchasers-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #014038;
}

/* Стили для каждого элемента "Top Purchasers" */
.top-purchaser {
  flex: 1;
  padding: 20px;
  background-color: #96baa0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.top-purchaser:hover {
  background-color: #f7f7f7;
}

/* Гибкая сетка для размещения элементов */
.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Расстояние между элементами */
}

/* COMMUNITY INVOLMENT */
.community-involvement {
  max-width: 1200px; /* Ограничение ширины секции */
  margin: 0 auto; /* Центрирование секции на странице */
  padding: 40px 20px; /* Внешние отступы */
  background-color: #014038; /* Фон для секции */
  color: #00231c; /* Основной цвет текста */
  border-radius: 8px; /* Сглаживание углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для секции */
}

.community-involvement h2 {
  text-align: center;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #f7f7f7;
  margin-bottom: 20px;
}

.event {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #F7F7F7; /* Фон для отдельных событий */
  border: 1px solid #96baa0; /* Граница для выделения */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для объемности */
}

.event h3 {
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #014038;
  margin-bottom: 10px;
}

.event p {
  font-family: "Arial", sans-serif;
  color: #00231c;
  line-height: 1.5;
  margin-bottom: 5px;
}

.event p:last-child {
  margin-bottom: 0; 
}

.community-involvement article:hover {
  background-color: #f7f7f7; 
  transform: translateY(-5px); 
  transition: all 0.3s ease; 
}

/* BURGER MENU */
#burgermenulinks {
  display: none; 
  position: absolute; 
  list-style-type: none;
  text-align: center; 
  padding: 25px 10px; 
  width: 150px; 
  color: #171717; 
  background-color: #F7F7F7; 
}

#burgermenu:hover #burgermenulinks {
  display: block; 
  margin: 0 auto;
  left: -11px;
}

/* По умолчанию бургер-меню скрыто, если на экране больше 480px */
#burgermenu {
  display: none; /* Бургер-меню скрыто на экранах больше 480px */
}

/* Для больших экранов, показываем полное меню */
@media (min-width: 481px) {
  #fullmenu {
    display: block; /* Показываем полное меню на больших экранах */
  }

  #burgermenu {
    display: none; /* Скрываем бургер-меню на больших экранах */
  }

  #burgermenulinks {
    display: none; /* Скрываем бургер-меню на больших экранах */
  }
}

/* Для маленьких экранов */
@media (max-width: 480px) {
  #fullmenu {
    display: none; /* Скрываем полное меню на маленьких экранах */
    
  }
  #logo-img {
    display: none; /* Скрыть логотип */
  }

  #burgermenu {
    display: block; /* Показываем бургер-меню на маленьких экранах */
  }

  #burgermenulinks {
    display: none; /* Меню скрыто по умолчанию */
  }

  /* Когда бургер-меню активируется (по наведению), показываем список */
  #burgermenu:hover #burgermenulinks {
    display: block; /* Показываем меню при наведении */
  }
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #BDD4DA;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content button {
  margin: 5px;
  padding: 10px;
  color: #00231c;
}

#cart-modal h2 {
color: #00231c;
}
#cart-list {
  margin: 15px 0;
}