* {
  box-sizing: border-box;
}

body {
  
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  background-color: #014038;
}

/** HEADER **/
#header-nav {
  background-color: #F0C06D;
  border-radius: 0;
  border: 0;
}

#logo-img {
  width: 100px;
  margin: 10px 15px 10px 0;
  float: left;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Nursery name */
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #014038;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.navbar-brand a h1 {
  margin: 0; 
  text-align: left; 
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  color: #014038;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-size: 18px;
}

li {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.icon-container a .fas {
  font-size: 36px; 
  margin-left: 10px; 
  display: inline-block;

 }

.icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon-container a:hover .fas {
  color: #96BAA0; 
}
.icon-container a {
  text-decoration: none; /* Убирает подчеркивание */
  color: #014038;
}

/* WHY SHOP HERE  SECTION*/
.why-shop-here {
  text-align: center; 
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.perk {
  flex: 1; 
  padding: 20px;
  background-color: #96baa0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perk:hover {
  background-color: #f7f7f7;
}

/* SHOP NOW SECTION */
.shop-now-section {
  text-align: center;
  padding: 20px;
}

#birch-tile, #birdHouse-tile, #soil-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

#birch-tile:hover, #birdHouse-tile:hover, #soil-tile:hover {
  box-shadow: 0 1px 5px 1px #f7f7f7;
}

#birch-tile  {
  background-position: center;
}

#birdHouse-tile {
  background-position: center;
}

#soil-tile  {
  background-position: center;
}
#birch-tile span, #birdHouse-tile span, #soil-tile span  {
  position: absolute;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-weight: bold;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #F0C06D;
  color: #00231c;
  opacity: .8;
}

#birch-tile img, #birdHouse-tile img, #soil-tile img {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0; 
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

/* SHOPPING PROMOS */

.shop-here-section {
  text-align: center;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.promo {
  flex: 1; 
  padding: 20px;
  background-color: #96baa0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promo:hover {
  background-color: #f7f7f7;
}

/* SHOP BY CATEGORIES*/
#tree-tile, #plants-tile, #supply-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

#tree-tile:hover, #plants-tile:hover, #supply-tile:hover {
  box-shadow: 0 1px 5px 1px #f7f7f7;
}

#tree-tile {
  background-position: center;
}

#plants-tile {
  background-position: center;
}

#supply-tile {
  background-position: center;
}

#tree-tile span, #plants-tile span, #supply-tile span {
  position: absolute;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-weight: bold;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #F0C06D;
  color: #00231c;
  opacity: .8;
}

#tree-tile img, #plants-tile img, #supply-tile img {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

/* CLIENTS HIGHLIGHTS SECTION */
h2 {
  font-size: 24px;
  color: #f7f7f7;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.review {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex; 
}

.review li {
  margin-right: 20px; 
}

.review li a {
  text-decoration: none; 
  color: #00231c; 
  font-size: 16px; 
}

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #F0C06D;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: -25px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.fab.fa-facebook, .fab.fa-instagram, .fab.fa-twitter, .fab.fa-pinterest {
  font-size: 36px; 
  color: #014038; 
  transition: color 0.3s;
}

.fab.fa-facebook:hover, .fab.fa-instagram:hover, .fab.fa-twitter:hover, .fab.fa-pinterest:hover  {
  color: #96BAA0; 
}

#menu {
  list-style: none; 
  padding: 0;
  margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  width: fit-content; 
  text-align: center; 
}

.menu-item {
  margin-right: 20px; 
}

.menu-item a {
  text-decoration: none; 
  color: inherit; 
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a:hover {
  color: #F7F7F7; 
  background-color: #96BAA0; 
  padding: 5px 10px;
  border-radius: 5px; 
}

.section-container {
  margin: 20px auto; 
  padding: 20px; 
  padding-left: 30px;
  max-width: 1500px; 
  box-sizing: border-box; 
  
}
.subscribe-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.subscribe-form label {
  margin-bottom: 10px; 
}

.subscribe-form input {
  margin-bottom: 10px; 
  padding: 8px;
  width: 200px; 
}

.subscribe-form button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #96BAA0; 
  color: #00231C; 
  border: 2px solid #00231C;;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}
.subscribe-form button:hover {
  background-color: #F7F7F7; 
  color: #00231C; 
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 40px 20px; 
}

.gallery-item {
  background-color: #96baa0;
  border: 1px solid #96BAA0;
  color: #00231c;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-container {
  max-width: 1200px; 
  margin: 0 auto; 
}

.title {
  text-align: center; 
  margin-top: 20px;
}

h2 {
  font-size: px;
  color: #F7F7F7;
}
/* VIEW CART BUTTON */
.view-cart {
  background-color: #F0C06D;
  color: #00231c;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

.view-cart:hover {
  background-color: #6C8F89;
  transform: scale(1.05);
}

/* ADD to CART BUTTON*/
.add-to-cart {
  background-color: #F0C06D;
  color: #00231c;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #F0C06D;
}

.shopping-cart {
  display: flex;
  justify-content: center; 
  align-items: center;    
  
}

/* ABOUT US*/
.about-section {
  background-color: #F7F7F7;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  font-size: 2em;
  color: #00231c;
  font-family: "Comfortaa", "Arial", sans-serif;
  margin-bottom: 15px;
}

.about-section p {
  font-size: 1.1em;
  color: #00231c;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}
/* Hours Section */
.hours-section {
  background-color: #F7F7F7;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hours-section h2 {
  font-size: 2em;
  color: #00231c;
  font-family: "Comfortaa", "Arial", sans-serif;
  margin-bottom: 15px;
}

.hours-section ul {
  list-style: none;
  padding-left: 0;
}

.hours-section li {
  font-size: 1.1em;
  color: #00231c;
  margin-bottom: 10px;
}

.hours-section strong {
  color: #00231c;
  font-weight: bold;
}

/* Contact Section */
.contact-section {
  background-color: #F7F7F7;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
  font-size: 2em;
  color: #00231c;
  font-family: "Comfortaa", "Arial", sans-serif;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1.1em;
  color: #00231c;
  margin-bottom: 8px;
  font-family: "Arial", sans-serif;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #014038;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

.form-actions {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px;
}

.form-actions button {
  background-color: #F0C06D;
  color: #014038;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Comfortaa", "Arial", sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}

.form-actions button:hover {
  background-color: #96BAA0;
  transform: scale(1.05);
}

.form-actions button[type="reset"] {
  background-color: #F0C06D;
}

.form-actions button[type="reset"]:hover {
  background-color: #96BAA0;
}
/* CUSTOMER PAGE UPCOMING EVENTS */
.events-section {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 40px 20px;
  background-color: #014038; 
  color: #00231c; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
}

.events-section h2 {
  text-align: center;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #F7F7F7;
  margin-bottom: 20px;
}

.event {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #F7F7F7; 
  border: 1px solid #96baa0; 
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.event h3 {
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #014038;
  margin-bottom: 10px;
}

.event p {
  font-family: "Arial", sans-serif;
  color: #00231c;
  line-height: 1.5;
  margin-bottom: 5px;
}

.event p:last-child {
  margin-bottom: 0; 
}

.events-section article:hover {
  background-color: #96BAA0; 
  transform: translateY(-5px); 
  transition: all 0.3s ease; 
}

/* What Our Customers Are Saying */
.top-purchasers-section {
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.top-purchasers-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #014038;
}

/*Top Purchasers */
.top-purchaser {
  flex: 1;
  padding: 20px;
  background-color: #96baa0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.top-purchaser:hover {
  background-color: #f7f7f7;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

/* COMMUNITY INVOLMENT */
.community-involvement {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 40px 20px; 
  background-color: #014038; 
  color: #00231c; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.community-involvement h2 {
  text-align: center;
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #f7f7f7;
  margin-bottom: 20px;
}

.event {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #F7F7F7; 
  border: 1px solid #96baa0; 
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.event h3 {
  font-family: "Comfortaa", "Calibri", "Arial", sans-serif;
  color: #014038;
  margin-bottom: 10px;
}

.event p {
  font-family: "Arial", sans-serif;
  color: #00231c;
  line-height: 1.5;
  margin-bottom: 5px;
}

.event p:last-child {
  margin-bottom: 0; 
}

.community-involvement article:hover {
  background-color: #f7f7f7; 
  transform: translateY(-5px); 
  transition: all 0.3s ease; 
}

/* BURGER MENU */
#burgermenulinks {
  display: none; 
  position: absolute; 
  list-style-type: none;
  text-align: center; 
  padding: 25px 10px; 
  width: 150px; 
  color: #171717; 
  background-color: #F7F7F7; 
}

#burgermenu:hover #burgermenulinks {
  display: block; 
  margin: 0 auto;
  left: -11px;
}

#burgermenu {
  display: none; 
}

@media (min-width: 481px) {
  #fullmenu {
    display: block; 
  }

  #burgermenu {
    display: none; 
  }

  #burgermenulinks {
    display: none; 
  }
}

@media (max-width: 480px) {
  #fullmenu {
    display: none; 
    
  }
  #logo-img {
    width: 50px; 
    height: auto; 
    margin: 0;
    
  }
  .navbar-brand h1 {
    font-size: 18px; 
    line-height: 1.3;
    text-align: left;
    margin: 0;
    
  }
  .navbar-brand {
    display: flex; 
    align-items: center; 
    gap: 10px; 
  }

  #burgermenu {
    display: block;
    padding: 10px;
    background-color: #96BAA0;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    cursor: pointer;
    position: relative; 
}

#burgermenulinks {
    display: none; 
    background-color: #F7F7F7;
    border: 1px solid #BDD4DA;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%; 
    left: 0;
    box-sizing: border-box; 
    overflow-wrap: break-word; 
    font-weight: bold;
  }

#burgermenu:hover #burgermenulinks {
    display: block; 
}

#burgermenulinks a {
    color: #014038;
    text-decoration: none;
    padding: 10px;
    display: block;
}

#burgermenulinks a:hover {
    color: #96BAA0; 
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%; 
  height: auto;
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #BDD4DA;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content button {
  margin: 5px;
  padding: 10px;
  color: #00231c;
}

#cart-modal h2 {
color: #00231c;
}

#cart-list {
  margin: 15px 0;
}

